---
import Button from "../components/Button.astro"
---
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="No se ha encontrado el directorio de Una Aventura Especial."/>
		<meta name="viewport" content="width=device-width"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
		<title>P치gina no encontrada</title>
	</head>
    <body>
        <main>
            <div class="error404">
                <h1 class="error404__title">P치gina no encontrada</h1>
                <p class="error404__content">Parece que no hemos podido encontrar la p치gina que deseabas. Si crees que se trata de un error h치zmelo saber por mis redes sociales.</p>
                <Button title="Volver al inicio"/>
            </div>
            <div class="image-container">
                <img src="../../public/404-Tekyo.png">
            </div>
        </main>
        <footer>
            <h6 class="footer__copy">Tekyo &copy; | Todos los derechos reservados</h6>
            <div class="footer__media">
                <a class="github" href="https://github.com/Tekyo23/Una-Aventura-Especial">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M12.5.75C6.146.75 1 5.896 1 12.25c0 5.089 3.292 9.387 7.863 10.91.575.101.79-.244.79-.546 0-.273-.014-1.178-.014-2.142-2.889.532-3.636-.704-3.866-1.35-.13-.331-.69-1.352-1.18-1.625-.402-.216-.977-.748-.014-.762.906-.014 1.553.834 1.769 1.179 1.035 1.74 2.688 1.25 3.349.948.1-.747.402-1.25.733-1.538-2.559-.287-5.232-1.279-5.232-5.678 0-1.25.445-2.285 1.178-3.09-.115-.288-.517-1.467.115-3.048 0 0 .963-.302 3.163 1.179.92-.259 1.897-.388 2.875-.388.977 0 1.955.13 2.875.388 2.2-1.495 3.162-1.179 3.162-1.179.633 1.581.23 2.76.115 3.048.733.805 1.179 1.825 1.179 3.09 0 4.413-2.688 5.39-5.247 5.678.417.36.776 1.05.776 2.128 0 1.538-.014 2.774-.014 3.162 0 .302.216.662.79.547C20.709 21.637 24 17.324 24 12.25 24 5.896 18.854.75 12.5.75Z"></path>
                    </svg>
                </a>
                <a href="https://www.instagram.com/tekyo_private" class="instagram">			
                    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" class="instagram">
                    <g id="SVGRepo_iconCarrier">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"></path> 
                        <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"></path> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z"></path>
                    </g>
                    </svg>
                </a>
            </div>
        </footer>
    </body>
</html>

<style>
    :root {
    --background-colour: #C3C3C3;
    --primary-gray: #6C6C6C;
	--secondary-gray: #6C6C6C80;
	--hover-gray: #6C6C6C40;
    --primary-black: #2F2F2F;
    --primary-green: #27A93B;
    --primary-red: #A72222;
    --primary-orange: #CB7131;	
	--dark-theme: #252525;
    }

    body {
        margin: 0;
		font-family: 'Viga', sans-serif;
		background: var(--background-colour);
        height: 100dvh;
        position: relative;
        font-family: 'Inter', sans-serif;
	}

    main {
        height: calc(100dvh - 65px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 206px;
    }

    footer {
        position: relative;
        height: 65px;
        width: 100%;
		display: flex;
		align-items: center;
        justify-content: center;
        gap: 2rem;
        background: var(--primary-black);
	}

    .error404 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
    }

    .error404__title {
        display: inline-block;
        margin: 0;
        text-transform: uppercase;
        font-size: 48px;
    }

    .error404__content {
        margin: 0;
        margin-bottom: 40px;
        width: 465px;
        font-size: 16px;
        text-align: center;
    }

    #boton {
        margin-top: 40px;
    }

	.footer__copy {
		font-family: 'ABeeZee', sans-serif;
		text-transform: none;
		font-size: 10.5px;
		color: var(--primary-gray);
	}

	.footer__media {
		display: flex;
	}

	.github{
		margin-right: 1.125rem;
	}

	.github,
	.instagram {
		fill: #fff
	}
</style>