---
import BookPage from '../components/BookPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Una Aventura Especial">
	<main>
		<BookPage/>
	</main>
</Layout>

<style>
</style>
