---
import BookPage from '../components/BookPage.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Una Aventura Especial">
	<main>
		<BookPage
		title = "Capítulo 1"
		body = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quaerat fugit dicta deserunt, perferendis delectus atque quod qui dolore a explicabo, ad asperiores cumque fugiat molestias libero. Porro perspiciatis dolorum velit, tenetur odit dolores! Mollitia, quos asperiores fuga porro similique, adipisci explicabo, corrupti illo ipsam quod voluptatem possimus blanditiis ipsa eaque magni sapiente ea suscipit. Deserunt repellat eum eius possimus, deleniti optio, quos quae odio sint ea animi pariatur laborum, error similique ullam! Nulla reprehenderit itaque, dolorum distinctio impedit a modi odio ut pariatur rem? Nisi perspiciatis consequuntur officiis rerum repellat unde deserunt animi cumque labore, adipisci quibusdam veritatis ad dolorem dolorum delectus quo nulla quaerat quam reiciendis, accusantium illum! Recusandae excepturi, consequuntur perferendis eius non error aut eos magni officia optio perspiciatis sint odio iste eum laborum atque, soluta, unde omnis nisi? Dolorum velit earum, sint consequuntur recusandae praesentium eligendi repellat ducimus obcaecati labore libero at hic sapiente, tenetur consequatur architecto accusamus aperiam? Voluptatibus delectus qui iure repudiandae excepturi fugit, architecto quas ea itaque nobis consequuntur quibusdam. Quis omnis similique quisquam dolor, molestiae, alias a magni quo quasi expedita perspiciatis nobis rem atque natus culpa impedit. Ratione consequatur magnam neque. Voluptatum voluptate maxime dignissimos dolores ipsam a adipisci beatae."
		page = "1"
		/>
	</main>
</Layout>

<style>
</style>
