---
interface Props {
	title: string | null;
	body: string;
	page: string | null;
}

const { title, body, page } = Astro.props;
---

<div class="book-page">
	<div class="title">{title}</div>
	<div class="body">{body}</div>
	<div class="page">{page}</div>
</div>

<style>
	.book-page {
		display: flex;
		flex-direction: column;
		position: relative;
		aspect-ratio: 621 / 796;
		height: 87dvh;
		background: #fff;
		margin-block: auto;
		padding: 8.43vh 8.11vh 8.87vh 9.73vh;
		box-sizing: border-box;
		box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.25);
		font-family: 'Book Antiqua';
	}

	.title {
		font-size: 2.16vh;
		font-weight: 700;
		text-align: center;
	}

	.body {
		margin-top:  3.89vh;
		font-size: 1.62vh;
		text-indent: 3.24vh;
		text-align: justify;
	}

	.page {
		font-family: 'Calibri';
		font-size: 1.62vh;
		font-weight: 700;
		opacity: 70%;
		position: absolute;
		right: 50%;
		bottom: 6.91vh;
	}
</style>