---
interface Props {
	title: string | null;
	body: string;
	page: string | null;
}

const { title, body, page } = Astro.props;
---

<div class="book-page">
	<div class="title">{title}</div>
	<div class="body">{body}</div>
	<div class="page">{page}</div>
</div>

<style>
	.book-page {
		display: flex;
		flex-direction: column;
		position: relative;
		aspect-ratio: 621 / 796;
		height: 90dvh;
		background: #fff;
		margin-block: auto;
		padding: 4.875rem 4.688rem 5.125rem 5.625rem;
		box-sizing: border-box;
		box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.25);
		font-family: 'Book Antiqua';
	}

	.title {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
	}

	.body {
		margin-top: 2.25rem;
		font-size: 15px;
		text-indent: 30px;
		text-align: justify;
	}

	.page {
		font-family: 'Calibri';
		font-size: 15px;
		font-weight: 700;
		opacity: 70%;
		position: absolute;
		right: 50%;
		bottom: 4rem;
	}
</style>