---
interface Props {
	title?: string;
	page?: string;
}

const { title, page } = Astro.props;
---

	<div class="book-page media-hide">
		<div class="title">{title}</div>
		<div class="body"><slot/></div>
		<div class="page">{page}</div>
	</div>

<style is:global>
	.double-page {
		display: flex;
		margin: auto;
		height: fit-content;
		box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.25);
	}

	.book-page {
		display: flex;
		flex-direction: column;
		position: relative;
		aspect-ratio: 621 / 796;
		height: 87dvh;
		background: #fff;
		padding: 8.43vh 8.11vh 8.87vh 9.73vh;
		box-sizing: border-box;
		font-family: 'Book Antiqua';
	}

	.title {
		font-size: 2.16vh;
		font-weight: 700;
		text-align: center;
		margin-bottom:  3.89vh;
	}

	.title:empty {
		margin: 0;
	}

	.body {
		font-size: 1.64vh;
		text-align: justify;
	}

	.body > p {
		text-indent: 3.24vh;
	}

	.body > .no-indent {
		text-indent: 0;
	}

	.page {
		font-family: 'Calibri';
		font-size: 1.62vh;
		font-weight: 700;
		opacity: 70%;
		position: absolute;
		right: 50%;
		bottom: 6vh;
	}

	.quote {
		margin-block: 1.188rem;
	}

	.hide {
		display: none;
	}

	@media (max-width: 1615px) {
		.media-hide {
			display: none; 
		}
	}
</style>