---
---

<div class="book-page">
        <h1 class="title">Una Aventura Especial</h1>
        <h2 class="author">Sergio Pedro Lombao</h2>
</div>

<style>
    
    .double-page {
        display: flex;
        margin: auto;
        height: fit-content;
        box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.25);
	}

    .book-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        position: relative;
        aspect-ratio: 621 / 796;
        height: 87dvh;
        background: #fff;
        box-sizing: border-box;
        font-family: 'Book Antiqua';
        text-align: center;
    }

    .title {
        font-size:  3.24vh;
        text-transform: uppercase;
        margin: 0;
    }

    .author {
        font-size: 2.16vh;
        font-weight: 700;
    }
</style>