---
---
<div class="navbar__container">
    <div class="navbar">
        <div id="previous-page" title="Página anterior">
            <svg width="3.46vh" height="3.46vh" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" transform="matrix(-1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
        <div id="theme" title="Activar modo oscuro">
            <div id="theme--light">
                <svg width="3.46vh" height="3.46vh" viewBox="0 0 24 24" fill="none"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>
            <div id="theme--dark" class="hide">
                <svg width="3.46vh" height="3.46vh" viewBox="0 0 24 24" fill="none"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            </div>
        </div>
        <div id="next-page" title="Siguiente página">
            <svg width="3.46vh" height="3.46vh" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </div>
    </div>
</div>

<style>
    .navbar__container {
        position: absolute;
        width: fit-content;
        height: 9.5dvh;
        bottom: 0;
    }

    .navbar {
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 19rem;
        height: 5.5dvh;
        background: var(--primary-black);
        border-radius: 5.41vh;
        padding: 2dvh 1.5dvh;
        top: 75%;
        transition: 0.3s ease-in-out;
    }

    .navbar__container:hover > .navbar {
        top: 0;
        box-shadow: 0px 0rem 30px #00000070;
    }

    #previous-page,
    #next-page,
    #theme {
        height: 3.46vh;
        stroke: #fff;
        cursor: pointer;
    }

    @media (hover: none) {
        .navbar__container > .navbar {
            top: 0;
            box-shadow: 0px 0rem 30px #00000070;
        }
    }

</style>

<script>
    //Dark-Light Theme Button
    var theme = document.getElementById("theme");
    var dark_theme = document.getElementById("theme--dark");
    const light_theme = document.getElementById("theme--light");
    const bookPage = document.querySelectorAll(".book-page");
    const params = new URLSearchParams(window.location.search);

    function toggleTheme() {
        bookPage.forEach(function(bookPage) {
            bookPage.classList.toggle("dark-theme");
        });
    }

    function themeIcon() {
        light_theme.classList.toggle("hide")
        dark_theme.classList.toggle("hide")
        if (light_theme.classList.contains("hide")) {
            theme.setAttribute("title","Activar modo claro")
        } else {
            theme.setAttribute("title","Activar modo oscuro")
        }
    }
    
    if (params.get('mode') === 'dark') {
        toggleTheme()
        themeIcon()
    }

    theme.onclick = function(){
        toggleTheme()
        themeIcon()
    }

    //Previous-Next Page Button
    var previous_page = document.getElementById("previous-page")
    var next_page = document.getElementById("next-page")
    const visible_pages = document.querySelectorAll(".double-page")
    let currentPageIndex = 0;
    let totalPages = visible_pages.length;
    if (params.get('page') === 'last') {
        visible_pages[currentPageIndex].classList.add("hide");
        currentPageIndex = visible_pages.length - 1;
        visible_pages[currentPageIndex].classList.remove("hide")
    }
    
    const chapterPaths = [
    "/chapter1",
    "/chapter2",
    "/chapter3",
    ];
    const currentChapterIndex = chapterPaths.indexOf(window.location.pathname);

    next_page.onclick = function() {
        if (currentPageIndex < totalPages - 1) {
            visible_pages[currentPageIndex].classList.add("hide");
            currentPageIndex++;
            visible_pages[currentPageIndex].classList.remove("hide");
        } else if (light_theme.classList.contains("hide")) {
            window.location.href = chapterPaths[currentChapterIndex + 1] + '?mode=dark';
        } else {
            window.location.href = chapterPaths[currentChapterIndex + 1];
        }
    };

    previous_page.onclick = function() {
        if (currentPageIndex > 0) {
            visible_pages[currentPageIndex].classList.add("hide");
            currentPageIndex--;
            visible_pages[currentPageIndex].classList.remove("hide");
        } else if (window.location.pathname != '/chapter1' && window.location.pathname != '/' && light_theme.classList.contains("hide")) {
            window.location.href = chapterPaths[currentChapterIndex - 1] + `?page=last&mode=dark`;
        } else if (light_theme.classList.contains("hide") && window.location.pathname != '/') {
            window.location.href = '/' + `?page=last&mode=dark`;
        } else if (window.location.pathname == '/chapter1') {
            window.location.href = `/?page=last`;
        } else if (window.location.pathname != '/chapter1' && window.location.pathname != '/') {
            window.location.href = chapterPaths[currentChapterIndex - 1] + `?page=last`;
        } else {
            window.location.href = '/';
        };
    };

    // Media Query 1520px
    const mediaQuery = window.matchMedia('(max-width: 1615px)');

    if (mediaQuery.matches) {
        const visiblePages = document.querySelectorAll(".book-page")
        const doublePages = document.querySelectorAll(".double-page")
        let currentPageIndex = 1;
        let totalPages = visiblePages.length;
        let totalDoubles = doublePages.length;
        let currentDoubleIndex = 0;
        visiblePages[0].classList.remove("media-hide");

        if (params.get('page') === 'last') {
            visiblePages[currentPageIndex - 1].classList.add("media-hide");
            currentPageIndex = totalPages;
            currentDoubleIndex = totalDoubles - 1;
            visiblePages[currentPageIndex - 1].classList.remove("media-hide")
        }

        next_page.onclick = function() {
            if (currentPageIndex < totalPages) {
                visiblePages[currentPageIndex - 1].classList.toggle("media-hide");
                currentPageIndex++;
                visiblePages[currentPageIndex - 1].classList.toggle("media-hide");
                if (currentPageIndex % 2 !== 0) {
                    doublePages[currentDoubleIndex].classList.add("hide")
                    currentDoubleIndex++;
                    doublePages[currentDoubleIndex].classList.remove("hide")
                }
            } else if (light_theme.classList.contains("hide")) {
                window.location.href = chapterPaths[currentChapterIndex + 1] + '?mode=dark';
            } else {
                window.location.href = chapterPaths[currentChapterIndex + 1];
            }
        };

        previous_page.onclick = function() {
            if (currentPageIndex > 1) {
                visiblePages[currentPageIndex - 1].classList.toggle("media-hide");
                currentPageIndex--;
                visiblePages[currentPageIndex - 1].classList.toggle("media-hide");
                if (currentPageIndex % 2 === 0) {
                    doublePages[currentDoubleIndex].classList.add("hide")
                    currentDoubleIndex--;
                    doublePages[currentDoubleIndex].classList.remove("hide")
                }
            } else if (window.location.pathname != '/chapter1' && window.location.pathname != '/' && light_theme.classList.contains("hide")) {
                window.location.href = chapterPaths[currentChapterIndex - 1] + `?page=last&mode=dark`;
            } else if (light_theme.classList.contains("hide") && window.location.pathname != '/') {
                window.location.href = '/' + `?page=last&mode=dark`;
            } else if (window.location.pathname == '/chapter1') {
                window.location.href = `/?page=last`;
            } else if (window.location.pathname != '/chapter1' && window.location.pathname != '/') {
                window.location.href = chapterPaths[currentChapterIndex - 1] + `?page=last`;
            } else {
                window.location.href = '/';
            };
        }
        
    }
</script>