---
import SideBar from '../components/prueba.astro';
import NavBar from '../components/NavBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot/>
			<NavBar/>
		</main>
		<SideBar/>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Viga&display=swap');
	:root {
    --background-colour: #C3C3C3;
    --primary-gray: #6C6C6C;
	--secondary-gray: #6C6C6C80;
	--hover-gray: #6C6C6C40;
    --primary-black: #2F2F2F;
    --primary-green: #27A93B;
    --primary-red: #A72222;
    --primary-orange: #CB7131;	
	--dark-theme: #252525;
}
	html {
		font-family: 'Viga', sans-serif;
		background: var(--background-colour);
	}
	body {
		margin: 0;
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
	}

	main {
		height: 100dvh;
		display: flex;
		justify-content: center;
		position: relative;
		flex-grow: 1;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		display: inline-block;
	}
	.Sidebar {
		right: 0;
	}

	.dark-theme {
		color: #efefef;
		background: var(--dark-theme) !important; 
	}

	.hide {
        display: none;
    }
</style>
